div {
    text-align: center;
    margin: auto;
}

div.form {
    background-color: #3e1c54;
    display: inline-block;
    border-radius: 12px;
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
    margin: auto;
    margin-right: 20px;

}

form {
    gap: 10px;
    font-size: large;
    text-align: justify;
}

button {
    background-color: #ffb1e9;
    padding: 10px;
    color: #3e1c54;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    text-align: center;
    width: 100%;
    user-select: none;
    box-shadow: #241031;
}

li {
    list-style-type: none;
    margin: 20px;
    margin-left: 0;
    user-select: none;
}

label {
    font-weight: bold;
    color: #fff;

}

input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    align-self: center;
    display: block;
}