
  @import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Roboto&display=swap');


h1 {
  
  font-family: Agbalumo;
  color: #d2a9ff;
  text-align: center;
  background-image: url('./assets/oval.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 150%;
  user-select: none;
  margin-bottom: 0;
  padding-bottom: 1.7rem;
}

div {
  display: flexbox;
  
}
