
  @import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Roboto&display=swap');


h1 {
  font-family: Agbalumo;
  color: #1a181c;
  text-align: center;
  
}

div {
  display: flexbox;
  
}
